version: 2
ethernets:
  ens3:
    addresses:
      - ${local_network_ip}/${local_network_mask}
    routes:
      - to: default
        via: ${local_network_gateway4}
    nameservers:
      addresses:
%{ for ns in local_network_nameservers ~}
        - ${ns}
%{ endfor ~}