version: 2
ethernets:
%{ if is_enabled }
  ens3:
    addresses:
      - ${local_network_ip}/${local_network_mask}
    routes:
      - to: default
        via: ${local_network_gateway4}
    nameservers:
      addresses:
%{ for ns in local_network_nameservers ~}
        - ${ns}
%{ endfor ~}
%{ endif }
%{ if bridge_is_enabled }
  ens4:
    addresses:
      - ${bridge_network_ip}/${bridge_network_mask}
    routes:
      - to: default
        via: ${bridge_network_gateway4}
    nameservers:
      addresses:
%{ for ns in bridge_network_nameservers ~}
        - ${ns}
%{ endfor ~}
%{ endif }