version: 2
ethernets:
  ens3:
    addresses:
      - ${ip}/${mask}
    routes:
      - to: default
        via: ${gateway4}
    nameservers:
      addresses:
%{ for ns in nameservers ~}
        - ${ns}
%{ endfor ~}