#cloud-config
hostname: HOST_NAME

users:
  - name: ${user_name}
    groups: sudo
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: '${user_password}'

package_update: true
package_upgrade: true

packages:
  - qemu-guest-agent
  - nginx
  - tilde

runcmd:
  - systemctl enable --now qemu-guest-agent