#cloud-config
users:
  - name: ${user_name}
    groups: sudo, wheel
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    ssh-authorized-keys:
      - ${ssh_pub_key}
    plain_text_passwd: '${user_password}'

ssh_pwauth: true

packages:
  - qemu-guest-agent
  - fio           # benchmark tool — handy for testing throttles

runcmd:
  - systemctl enable --now qemu-guest-agent