#cloud-config
hostname: HOST_NAME

users:
  - name: ${user_name}
    groups: sudo, wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    plain_text_passwd: '${user_password}'

packages:
  - qemu-guest-agent
  - tilde

runcmd:
  - systemctl enable --now qemu-guest-agent