version: 2
%{ if length(networks) > 0 }
ethernets:
%{ for net in networks }
  ${net.interface}:
  %{ if net.dhcp }
    dhcp4: true
  %{ else }
    addresses:
      - ${net.ip}/${net.mask}
    routes:
      - to: default
        via: ${net.gateway4}
    nameservers:
      addresses:
%{ for ns in net.nameservers ~}
        - ${ns}
%{ endfor ~}
  %{ endif }
%{ endfor }
%{ endif }